<section class="hero bg-base-200 min-h-screen">

  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Daria Voronina</h1>
      <p class="py-6">Daria Voronina</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</section>
